@import url('https://fonts.googleapis.com/css?family=Jost:400,600|Raleway&display=swap');

body {
	margin: 0;
	padding: 0;
	font-family: 'Raleway';
	background-color: #dcdcdc;
}

* {
	font-weight: 300;
	box-sizing: border-box;
}
